/* GENERAL STYLES */
:root {
    --main-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
    --accent-color: #FFFFFF;
    --main-color: #212121;
    --first-color: #757575;
    --second-color: #2196F3;
    --main-font-size: 14px;
    --main-line-height: 1.14;
    --main-letter-spacing: 0.03em;
}

body {
    font-family: "Roboto", sans-serif; 
    font-size: 14px;
    background: #ffffff;
}

/*header*/

.logo {
        font-family: var(--second-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: var(--main-letter-spacing);
        text-decoration-line: none;
        list-style: none;
        color: var(--second-color);
}
.list {
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: 0.02em;
    text-decoration-line: none;
    list-style: none;
}
    
.logo-header {
    color: var(--main-color);
}

.link-first {
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--second-color);
}

.link-second {
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
}
.link-mail {
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--first-color);
   }
   .link-mail:hover,
   .link-mail:focus {
       color: var(--second-color);
   }
.link-tel {
        font-weight: 500;
        font-size: var(--main-font-size);
        line-height: var(--main-line-height);
        letter-spacing: 0.02em;
        color: var(--first-color);
        text-decoration: none;
}
.link-mail:hover,
.link-mail:focus {
    color: var(--second-color);
    }
    /*main-studio*/

.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);
   }

.hero-button {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background: #2196F3;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

.decision {
    text-decoration: none;
    list-style-type: none;
}
        
.advantage {
    font-weight: 700;
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);
    color: var(--main-color);
   }

.requirement {
    font-size: var(--main-font-size);
    line-height: 1.71;
    letter-spacing: var(--main-letter-spacing);
    color: #757575;
}

.our-profile, .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: var(--main-letter-spacing);
    color: var(--main-color);
}

.team {
    background: #F5F4FA
}

.pro {
    text-decoration-line: none;
    list-style-image: none;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--main-color);
}
.profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: var(--main-letter-spacing);
    color: var(--first-color);
}

 /*main-portfolio*/
.progect-button-first, .progect-button-second {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: var(--main-letter-spacing);
    cursor: pointer;
    text-decoration-line: none;
    list-style: none;
    box-align: center;
}

.progect-button-first {
    
    color: var(--accent-color);
    background: #2196F3;
}
.progect-button-first:hover,
.progect-button-first:focus {
    color: var(--first-color);
    font-family: var(--main-font);
  }

.progect-button-second {
    color: var(--main-color);
    background: #F5F4FA;
  }
.progect-button-second:hover,
.progect-button-second:focus {
    color: var(--first-color);
}

.example {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}  

.direction  {
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: var(--main-letter-spacing);
    color: var(--first-color);
}

/*footer*/
.footer {
    background: #2F303A;
 }

.logo-footer {
    color: var(--accent-color);
    font-family: var(--second-font);
}
.footer-conacts, .footer-adress {
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-style: normal;
    font-size: var(--main-font-size);
    line-height: 1.71;
    text-decoration-line: none;
    list-style: none;
    letter-spacing: var(--main-letter-spacing);
    color: var(--accent-color);
    color: rgba(255, 255, 255, 0.6);
}

.footer-adress {
    color: var(--accent-color)
}